<h1>test controller</h1>
<div id="fileuploader">
    <div class="widget-container">
        <div dx-file-uploader="options">
        </div>
        <div class="content">
            <div ng-if="value.length > 0">
                <h4>Selected Files</h4>
            </div>
            <div ng-repeat="val in value">
                <div class="selected-item">
                    Name:
                    <span>{{val.name}}</span>
                    <br /> Size:
                    <span>{{val.size}}</span>bytes
                    <br /> Type:
                    <span>{{val.type}}</span>
                    <br /> Last Modified Date:
                    <span>{{val.lastModifiedDate}}</span>
                </div>
            </div>
        </div>
    </div>
</div>