<div>
    <span data-ng-show="vm.showChart">
        <!-- <h2>Some Insights of the Data</h2> -->
        count by:
        <a href="javascript:;" data-ng-click="vm.countByColumn('month')">
            <u>month</u>
        </a>
        <a href="javascript:;" data-ng-click="vm.countByColumn('age')">
            <u>age</u>
        </a>
        <a href="javascript:;" data-ng-click="vm.countByColumn('campaign')">
            <u>campaign</u>
        </a>


        <div dx-chart="vm.monthChartOptions"></div>
        <column-selector></column-selector>
    </span>
    <span data-ng-hide="vm.showChart">
        <p>Select a dataset to get an insight of the data</p>
    </span>
    
</div>